*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}
main{
    height: 50vh;
    width: 300px;
    display: grid;
    place-items: center;
}
.longbar{
    height: 40px;
    background: linear-gradient(rgb(67, 63, 63) , red, tomato,red, rgb(68, 67, 67) );
    width: 100%;
    padding-left: 25%;
    box-shadow: 3px 10px 15px 4.5px gray;

}
.feintbar{
    width: 90%;
    height: 40px;
    background-color: white;
    opacity: 75%;
    border-left: double 15px rgb(4, 0, 0);
}
.longbar2{
    height: 40px;
    background: linear-gradient(rgb(67, 63, 63) , green, lime,green, rgb(68, 67, 67) );
    width: 100%;
    padding-left: 25%;
    box-shadow: 3px 10px 15px 4.5px gray;
}
.longbar3{
     height: 40px;
    background: linear-gradient(rgb(67, 63, 63) , blue, skyblue,blue, rgb(68, 67, 67) );
    width: 100%;
    padding-left: 25%;
    box-shadow: 3px 10px 15px 4.5px gray;

}